@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100..900&display=swap');
@import "tailwindcss";

* {
  box-sizing: border-box;
  font-family: "Encode Sans", system-ui;
}

body {
  background-color: #e8e8e8;
}

@theme {
  --color-main: #e8e8e8;
  --color-primary: #00334E;
}